$main-color: #2196f3;
$main-color-alt: #81b1d8;
$main-transition: 0.5s;
$main-padding-top: 100px;
$main-padding-bottom: 100px;
$section-background: #ececec;

%shared-padding {
  padding-top: $main-padding-top;
  padding-bottom: $main-padding-bottom;
  position: relative;
}

%grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
