<div class="landing" id="landing">
  <div class="container">
    <div class="text">
      <h1>{{ "welcome to mans world" | uppercase }}</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim distinctio
        molestiae, quibusdam, velit illo qui .
      </p>
    </div>
    <div class="image">
      <img src="assets/Images/Land/landing-image.png" alt="" />
    </div>
  </div>
  <a href="#article" class="go-down">
    <i class="fas fa-angle-double-down fa-2x"></i>
  </a>
</div>
