@import "../../../Shared_Style/variables.scss";

.our-skills {
  @extend %shared-padding;
  .container {
    display: flex;
    align-items: center;
    .skills {
      flex: 1;
      .skill {
        transition: 8s;
        h3 {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        span {
          font-size: 12px;
          border: 1px solid #ccc;
          padding: 3px 5px;
          border-radius: 4px;
          color: $main-color;
        }
        .the-progress {
          height: 30px;
          background-color: #eee;
          position: relative;
          span {
            transition: width 2s ease;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: $main-color;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  img {
    display: none;
  }
}
