@import "../../../Shared_Style/variables.scss";
// TeamMeamber
.testimonials {
  @extend %shared-padding;
  background-color: $section-background;
  .container {
    @extend %grid;
    gap: 70px;
    .box {
      padding: 20px;
      background-color: white;
      box-shadow: 0 2px 4px rgb(0 0 0 /60%);
      border-radius: 6px;
      position: relative;
      img {
        position: absolute;
        right: -10px;
        top: -50px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid $section-background; // resposne for the circle appearance
      }

      h3 {
        margin: 0 0 10px;
        color: $main-color;
      }
      span {
        display: block;
        color: #777;
        margin-bottom: 12px;
      }
      .rate {
        .filled {
          color: #ffc107;
        }
      }
      p {
        line-height: 1.7;
        color: #777;
        margin-top: 10px;
      }
    }
  }
}
